html
    head
        title NASA Images
body
    h1 Enter coordinates
    form(method="get" action="/render")
        input(type="text" name="coord" placeholder="type coordinates")
        input(type="submit", value="render")